html, body {

    height: 100%;
    width:100%;
}


header {

    padding-top: 12px;
}
.navbar-brand {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;

}


.nav-item {
    text-transform: uppercase}
    
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active {

    color:white
}

#home {

    background: url(../images/bruce-mars.jpg) no-repeat center center fixed;
    display:table;
    height:100%;
    position:relative;
    width:100%;
    background-size:cover;

}

.landing-text {
    display:table-cell;
    text-align: center;
    vertical-align: middle;
}

body {

    background-color: #000;

}



hr {

    border-top: 1px solid white; 
    width: 90%;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    clear: both;
   

 }


















