html, body {

    height: 100%;
    width:100%;
}


header {

  
}
.navbar-brand {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;

}



.nav-item {
    text-transform: uppercase}
    
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active {

    color:white;
}




.col-sm-6 text-center {
    color: white;

}





#home {

    background: url(../images/bruce-mars.jpg) no-repeat center center fixed;
    display:table;
    height:100%;
    position:relative;
    width:100%;
    background-size:cover;
    z-index: -1;

}




.landing-text {
    display:table-cell;
    text-align: center;
    vertical-align: middle;

   

}

#backdrop {
    background-color: rgba(255, 255, 255, 0.25);
    padding-top: 15px;
    padding-bottom: 45px;
    margin-left: 270px;
    margin-right: 270px;
}

.btn {
    background-color: greenyellow;
    border: none;
    
}

p {
    color: white;
}

.landing-text h1 {

    font-size: 800%;
    font-weight: 700;
    word-spacing: 10px;
}

body {
    background-color:#1a1a1a;
  
}



.padding img {
    width: 100%;
}

#fixed {

    background: url(../images/bruce-mars.jpg) no-repeat center center fixed;
    display:table;
    height:60%;
    position:relative;
    width:100%;
    background-size:cover;
    opacity: .4;
}

.fa-bolt {

    color: greenyellow;
}

hr {

    border-top: 1px solid white; 
    width: 90%;
    margin-top: 0px;
    margin-bottom: 20px;
   
 }

 h4 {

    color: white;
   
 }

 h3 {
    padding-bottom: 20px;
   
 }

 h2 {
    color: white;
    letter-spacing: 1px;
    padding-top: 10px;
 }

 h1 {
    padding-bottom: 10px;
 }

.padding {

    padding-top: 100px;
    padding-bottom: 100px;

}


.reasons {
    padding-bottom: 100px;
    padding-top: 80px;
}

 footer {

    width:100%;
    padding: 5% 5% 10% 5%;
    color:white;
 }

 .fa {

    padding: 15px;
    font-size: 25px;
    color: white;
 }

 .fa:hover {
    color:greenyellow;
    text-decoration: none;
 }

 @media (max-width:768px) {

    .landing-text h1 {
        font-size: 300%;
    }
    .fa {
        font-size: 20px;
        padding:10px;
    }
 }

 @media (max-width:600px) {

    .landing-text h1 {
        font-size: 250%;
    }
    .fa {
        font-size: 20px;
        padding:10px;
    }

















