html, body {

    height: 100%;
    width:100%;
}


header {

  
}
.navbar-brand {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;

}



.nav-item {
    text-transform: uppercase}
    
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active {

    color:white;
}




p {
    color:white;
    
}

#home {

    background: url(../images/bruce-mars.jpg) no-repeat center center fixed;
    display:table;
    height:100%;
    position:relative;
    width:100%;
    background-size:cover;

}

.landing-text {
    display:table-cell;
    text-align: center;
    vertical-align: middle;

}

.landing-text h1 {

    font-size: 800%;
    font-weight: 700;
    word-spacing: 10px;
}

body {
    background-color:#1a1a1a;
  

}

.padding {
padding:80px 0;

}

.padding img {
    width: 100%;
}

#fixed {

    background: url(../images/bruce-mars.jpg) no-repeat center center fixed;
    display:table;
    height:60%;
    position:relative;
    width:100%;
    background-size:cover;
}

.fa-bolt {

    color: greenyellow;
}

hr {

    border-top: 1px solid white; 
    width: 90%;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    clear: both;
 }

 h4 {

    color: white;
 }

 h2 {
    color: white;
 }



 footer {

    width:100%;
    padding: 5% 5% 10% 5%;
    color:white;
 }

 .fa {

    padding: 15px;
    font-size: 25px;
    color: white;
 }

 .fa:hover {
    color:greenyellow;
    text-decoration: none;
 }

 @media (max-width:768px) {

    .landing-text h1 {
        font-size: 300%;
    }
    .fa {
        font-size: 20px;
        padding:10px;
    }
 }

 @media (max-width:600px) {

    .landing-text h1 {
        font-size: 250%;
    }
    .fa {
        font-size: 20px;
        padding:10px;
    }

















